<nav id="sidebar" class="vh-100 kds-2 kds-float-left kds-list--menu me-2">
  <div class="d-flex flex-column flex-shrink-0 p-2 pt-5">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-4"></span>
    </a>

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="kds-list-item nav-item">
        <a href="{{ home }}" class="kds-list-item-content">Home</a>
      </li>

      {% for item in sidebar_items %}
      <li
        class="kds-list-item {% if item.active %}kds-list-item--active{% endif %}"
      >
        <a href="{{ item.url }}" class="kds-list-item-content">
          {% autoescape off %} {{ item.label}} {% endautoescape %}
        </a>
      </li>

      {% if item.children %}
      <ul class="nav nav-pills flex-column mb-auto">
        {% for subitem in item.children %}
        <li
          class="kds-list-item {% if subitem.active %}kds-list-item--active{% endif %}"
        >
          <a href="{{ subitem.url }}" class="kds-list-item-content">
            {% autoescape off %} {{ subitem.label}} {% endautoescape %}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endfor %}
    </ul>

    <!-- saved for later, not a project requirement
        <hr>
    
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
    
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
    
        </div> -->
  </div>
</nav>
